version: '3.8'
services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_PASSWORD: 123456
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  app:
    build: .
    restart: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 123456
      FILE_STORAGE_PATH: /downloads
    volumes:
      - downloads:/downloads
    depends_on:
      - db
    ports:
      - "8080:8080"

volumes:
  postgres_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: D:/downloads/postgres_data
  downloads:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: D:/downloads